<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Settings</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="card ms-3 me-3 col-md-10 offset-md-1">
				<div class="card-body">
					<div class="container text-center">
						<h1 style="font-style: italic; font-weight: 300" class="text-center mt-3 text-secondary">
							Change Password....!!
						</h1>
					</div>


					<form method="post" th:action="@{/user/change-password}" >
						<!-- Old-password field -->
						<div class="mb-3">

							<input required name="oldPassword" style="font-style: italic; font-weight: 300" type="password"
								class="form-control text-secondary" placeholder="Enter Old-Password">

						</div>
						<!-- New-password field -->
						<div class="mb-3">

							<input required name="newPassword" style="font-style: italic; font-weight: 300" type="password"
								class="form-control text-secondary" placeholder="Enter New-Password">
						</div>
					

					<!--  Buttons -->
					<div class="container text-center">
						<button type="submit" class="btn btn-success">Change</button>
						<button type="reset" class="btn btn-warning">Reset</button>
					</div>
                   
                   </form>




				</div>
			</div>
		</div>
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#setting-link").addClass("active");
			});
		</script>
	</section>
</body>

</html>