<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">About _Page</title>
</head>
<body>
	<section>
		<h1>This is About page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores porro aspernatur consectetur repudiandae iure quae nihil vel ipsum obcaecati recusandae impedit quasi cumque necessitatibus corporis. Sapiente incidunt dolor molestiae nihil officia aliquam dolores adipisci voluptatibus reprehenderit consequatur eius sunt quis doloremque consectetur facere repudiandae minus earum quo natus explicabo ex laborum inventore suscipit ipsa aliquid ad beatae alias numquam possimus in necessitatibus eveniet quibusdam debitis! Dolor saepe ea reprehenderit.
			
		</p>
	</section>
</body>
</html>