<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Home _Page</title>
</head>
<body>
	<section class="banner">
		<div class="text-center">
			
			<h1 class="font-weight-bold">Smart Contact Manger</h1>
			<p>
				Start collecting Your Contacts in Very Smarter Way. We provide Very efficient and Smarter way Of Handling Cotacts
			</p>
			<button class="btn btn-info btn btn-outline-secondary btn-lg">Get Started</button>
		</div>
	</section>
</body>
</html>