<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Home _Page</title>
</head>
<body>
	
	<section class="banner" data-scroll-index="0">
      <div class="banner-overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="banner-text">
                <h2 class="white">Smart Contact Manger</h2>
                <h6 class="white">Best Contact Manager App</h6>
                <p class="banner-text white">
                  Start collecting Your Contacts in Very Smarter Way. We provide
                  Very efficient and Smarter way Of Handling Contacts in Secure Way 
                  SignUp And Explore
                  <a href="/signup" class="btn btn-info btn btn-outline-secondary btn-sm">Get Started</a>
                  
			
                </p>
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="img/images/appstore.png"
                        class="wow fadeInUp"
                        data-wow-delay="0.4s"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="img/images/playstore.png"
                        class="wow fadeInUp"
                        data-wow-delay="0.7s"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <img src="img/images/mobile3.png" class="banner-image" />
            </div>
          </div>
        </div>
      </div>
      <span class="svg-wave">
        <img class="svg-hero" src="img/images/applight-wave.svg" />
      </span>
      
      
    </section>

   

    <section class="about section-padding prelative" data-scroll-index="1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="sectioner-header text-center">
              <h3>About</h3>
              <span class="line"></span>
              <p>
                Discover the ultimate contact management solution
			for seamless organization and communication.<br>
			Our cutting-edge platform, designed for the modern world,
			simplifies your life by effortlessly managing your contacts,<br>
			scheduling, Secured and Valid User and Simple interactions.
			
			with Ashish Kumar.
              </p>
            </div>
            <div class="section-content text-center">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    <h5>Support</h5>
                    <p>
                      Phasellus lobortis justo a magna facilisis, in commodo
                      tellus rutrum. Sed vitae condimentum nulla.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <h5>Cross Platform</h5>
                    <p>
                      Phasellus lobortis justo a magna facilisis, in commodo
                      tellus rutrum. Sed vitae condimentum nulla.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                    <h5>Fast</h5>
                    <p>
                      Phasellus lobortis justo a magna facilisis, in commodo
                      tellus rutrum. Sed vitae condimentum nulla.
                    </p>
                  </div>
                </div>
              </div>
              <a href="#" class="about-btn">Thanks !</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--<section class="banner">
		<div class="text-center">
			
			<h1 class="font-weight-bold">Smart Contact Manger</h1>
			<p>
				Start collecting Your Contacts in Very Smarter Way. We provide Very efficient and Smarter way Of Handling Cotacts
			</p>
			<a href="/signup" class="btn btn-info btn btn-outline-secondary btn-lg">Get Started</a>
		</div>
	</section>-->
</body>
</html>